{% extends 'landing_page/base.html' %}

{% load static %}
{% block content %}

<section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
        
        <div class="overlay"></div>
        
        <div class="container">
          <h1 class="entry-title"  style="color: #710193">CEDAR INTERNATIONAL Admission</h1>
        </div>
        
      </section>

      <section>
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title" style="">CEDAR PRIMARY <span>ADMISSION</span></h2>
					<div class="">
					<h4><b>Admission age and class admission is stated below.</b></h4>
						<p><strong>Creche:</strong> Creche 3 months and above<br>
							<strong> Nursery:</strong> From two and half years and above;<br>
							<strong>Primary:</strong> From 6yrs and above we have Grade 1 - 6.<br>
						</p>
					</div>		
                	
			
				<div class="container">

			<div class="card">
              <div class="card-header">
                <h5 class="card-title">The Core subjects generally offered by all students.</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>CLASS</th>
                    <th>Minimum Age</th>
                    <th>Requirement</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Creche</td>
                    <td>3 Month
                    </td>
                    <td></td>
                    
                  </tr>
                  <tr>
                    <td>Playgroup</td>
                    <td>1 year 7 months</td>
                    <td></td>
                    
                  </tr>
                  <tr>
                    <td>Pre Nursery	</td>
                    <td>2 & half years</td>
                    <td>Ability to speak</td>
                    
                  </tr>

                  <tr>
                    <td>Nursery 1</td>
                    <td>3 years</td>
                    <td>Ability to speak</td>
                    
                  </tr>

                  <tr>
                    <td>Nursery 2 </td>
                    <td>4 years</td>
                    <td>Passing the entry assessment test</td>
                    
                  </tr>
                  <tr>
                    <td>Primary 1 </td>
                    <td>5 years</td>
                    <td>Passing the entry assessment test</td>
                    
                  </tr>
                  <tr>
                    <td>Primary 2 </td>
                    <td>6 years</td>
                    <td>Passing the entry assessment test</td>
                    
                  </tr>
                  <tr>
                    <td>Primary 3 </td>
                    <td>7 years</td>
                    <td>Passing the entry assessment test</td>
                    
                  </tr>
                  <tr>
                    <td>Primary 4 </td>
                    <td>8 years</td>
                    <td>Passing the entry assessment test</td>
                    
                  </tr>
                  <tr>
                    <td>Primary 5 </td>
                    <td>9 years</td>
                    <td>Passing the entry assessment test</td>
                    
                  </tr>
                  <tr>
                    <td>Primary 6 </td>
                    <td>10 years</td>
                    <td>Passing the entry assessment test (Possibly on transfer)</td>
                    
                  </tr>
                  
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>


  <section>
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title">CEDAR COLLEGE <span>ADMISSION</span></h2>
					
					<p>Admission form is to be obtained from the school, properly filled and submitted to academic office. The student must be at least 10 years old. An entrance examination that includes assessment in Mathematics, English Language and Social Studies will be taken. Examination centre is at the Cedar College, this will be communicated to you. Admission will be based on Merit.</p>

					<h5>ACADEMIC YEAR</h5>
					<p>The school academic year runs from September through July of the following year</p>

					<h5>CURRICULUM</h5>
					<p>The College runs the National Junior and Secondary programme which conforms to the National Policy of Education.</p>

					<h5>TUITION FEES</h5>
					<p>The fee charged by the college covers tuition, administrative and maintenance cost. All fees must be paid on or before the first day of every term. For further information and enquiry, contact the school or email the school at college@thedayspringschools.com.ng</p>
					
				</div>                	
			</section>

{% endblock %}