{% extends 'landing_page/base.html' %}

{% load static %}
{% block content %}

<!-- Sub Page Banner
			============================================= -->
			<section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
				
				<div class="overlay"></div>
				
				<div class="container">
					<h1 class="entry-title">Gallery</h1>
					
				</div>
				
			</section>
    
    

    
    
			<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
				
				
				
				<div class="container">
				
				
					<!-- BEGIN GALLERY SECTION -->
			
					<section class="gallery no-padding">
						
							<!-- GALLERY NAV -->
							<div class="gallery-filter-nav">
								<div class="filter active" data-filter="all">All</div>
								<div class="filter" data-filter=".doctors">DNCP</div>
								<div class="filter" data-filter=".treatments">COLLEGE</div>
								<div class="filter" data-filter=".output-surgery">TEACHERS</div>
								
							</div>
							
							<div id="Container-gallery">
								
								<ul class="four-column-gallery clearfix">
									
									<li class="mix doctors">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0798.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0798.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									<li class="mix treatments">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0759.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0759.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									<li class="mix doctors">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0802.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0802.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									
									<li class="mix laboratory">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0809.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0809.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									<li class="mix output-surgery">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0820.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0820.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									<li class="mix events">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0821.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0821.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									<li class="mix doctors">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0848.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0848.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									<li class="mix output-surgery">
										
										<div class="gallery-item">
											<div class="gallery-item-thumb">
												<span class="overlay"></span>
												<img src="{% static 'landing_page/img/DSC0854.jpg' %}" alt="">
												<a href="{% static 'landing_page/img/DSC0854.jpg' %}" data-fancybox-group="portfolio" class="hover-button-plus fancybox"></a>
											</div>
											<div class="gallery-item-info">
												<p><a href="#.">Student</a><span>TheDaySpring</span></p>
											</div>
										</div>
										
									</li>
									
									
								</ul>
								
							</div>

							
					</section><!-- END GALLERY SECTION -->
	
					
				</div>
					
						  
			</div><!--end sub-page-content-->
			

		
		<div class="colourfull-row"></div>
{% endblock %}