{% extends 'landing_page/base.html' %}

{% load static %}
{% block content %}

<!-- Sub Page Banner
			============================================= -->
			<section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
				
				<div class="overlay"></div>
				
				<div class="container">
					<h1 class="entry-title">DCNP</h1>
					<p>DAYSPRING CRECHE, NURSERY AND PRIMARY</p>
				</div>
				
			</section>


			<section>
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title">DAYSPRING CRECHE, <span>NURSERY AND PRIMARY (DCNP)</span></h2>
					
					<div class="media pull-right"><img src="{% static 'landing_page/img/6781.jpg' %}" width="400" class="img-rounded" alt="" title=""></div>
					
					<p>The Dayspring Crèche, Nursery & Primary School (DCNP) is a private co-educational School with a preparatory curriculum for primary education. The school started with a vision to provide quality education for the Nigerian Child. The vision then expanded not only to the provision of basic education, but to moral education and the development of the inner person.</p>

					<p>Located at phase III junction Kubwa under Bwari Local government of the Federal Capital Territory, The Dayspring Light way Academy draws students from all areas of Abuja metropolis. The school is accredited by The Federal Ministry of Education, Nigeria.</p>

					<p>The mission of the School is to promote and enhance quality education. The Dayspring Crèche, Nursery & Primary School (DCNP) stands committed to offer her students a safe environment, an excellent education, personal responsibility, an opportunity to build a strong body as well as a sound mind, the challenges of competition in a first class sports program, and a haven that places a premium on spiritual growth.</p>

					<p>The School prides herself in the curriculum developed for impacting knowledge to the child. Each student is taken through the process of computer aided tutoring to give a practical touch and experience to belong to the rapidly growing world they are in. Using the Elementary School Assessment Training Tool (ESATT) the teachers are groomed to watch the characters & behaviours of the child and then individually take time to correct them whenever they err.<p>

                    <p>The Dayspring Nursery and Primary School is long known for its ranked athletic programs and has reached a level of academic distinction that makes it one of the most sought after private schools in Abuja City. Each year, her students achieve academic excellence that results in more invitations to participate nationally.</p>

					<p>The Dayspring Creche Nursery and primary, we believe in excellence and we always work towards achieving the best and remain at the peak of excellence.</p>
				
				</div>
			</section>


			<section style="background-color: #313131; color: #fff">
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title">DAYSPRING <span>DayCare</span></h2>
					
					<div class="media pull-right"><img src="{% static 'landing_page/img/6781.jpg' %}" width="400" class="img-rounded" alt="" title=""></div>
					
					<p>The Daycare is the heartbeat of the school. It is from here that some of the pupils graduate to the playgroup, nursery, primary and college arms of the school. The daycare is managed by loyal, dedicated and caring staff.</p>

					<p>The staffs are professional children handlers who work round the clock, making sure these children are well catered for and not to miss the absence of their parents for too long.</p>
				
				</div>

				<div class="container">
					
					<h2 class="light bordered main-title">DAYSPRING <span>NURSERY</span></h2>
					
					
					
					<p>In the Nursery section, we have about twenty eight teachers with three head teachers who oversee the affairs of this section. It consists of Pre-Nursery 1, Pre-Nursery 2, Nursery 1 and 2.</p>

					<p>Before a child is admitted into the nursery section, the child must be about two years five months for pre-nursery. Three years for Nursery 1 and for Nursery 2 class, the child must be four years. The promotion of the child to nursery section is based mainly on the ability of writing numbers, letters, identification and cross matching of both numbers and letters. And not being on mere sound cognitively.</p>

					<p>For the activities of Nursery section, we do our physical exercise every Thursdays of the week and every 3rd term of the section, we embark on an excursion.</p>
				
				</div>

				<div class="container">
				<div class="row">
							
							<div class="col-md-6">
								
								<div class="feature">
									<i class="pull-left feature-icon fa fa-user"></i>
									<div class="feature-content">
										<h5><a href="#.">PRE NURSERY</a></h5>
										<p>This is the foundation of the nursery where the pupils learn the alphabetic sounds; identify numbers, letters, objects and learning to hold pencil to write.</p>
										
									</div>
								</div>
								
							</div>
							
							<div class="col-md-6">
								
								<div class="feature">
									<i class="pull-left feature-icon fa fa-user"></i>
									<div class="feature-content">
										<h5><a href="#.">NURSERY ONE AND TWO</a></h5>
										<p>Nursery 1 and 2 is the foundation of the primary section where the pupils are taught how to copy from the board, how to add, subtract numbers and make simple sentences and also learn to do things on their own.</p>

										
									</div>
								</div>
								
							</div>
						</div>
					</div>
					</section>
    
    		<!-- App Store
				============================================= -->
				

				<section>
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title">DAYSPRING <span>PRIMARY</span></h2>
					
					
					<p>TThe Primary section of the Dayspring Creche Nursery and Primary School is from Primary 1 - 6. In this section, we teach seventeen (17) subjects which include special subjects such as Computer, French, Creative Arts, Hausa, Igbo, Yoruba language etc. which are taught by specialized subject teachers.</p>

					<p>The upper primary of the school include Primary 4 - 6. The pupils in Primary 5 - 6 wrote the biography of the Nigeria`s great achievers in our society:</p>

					<ul class="list-unstyled medicom-feature-list">
                		<li><i class="fa fa-check medicom-check"></i>Former President of Nigeria, President Goodluck Jonathan.</li>
                		<li><i class="fa fa-check medicom-check"></i>Nobel Laureate Professor Wole Soyinka (Author: "The Trial of Brother Jero")</li>
                		<li><i class="fa fa-check medicom-check"></i>Late Chinua Achebe (Author: "Things Fall Apart")</li>
                	</ul>
                	<p>Apart from Academic works, we have other special activities that develop the students` morals most especially the girls. The activity is named "Heart to heart talk with the girls" where we talk extensively on feelings, sex, love, infatuation and mode of handling each situation and self-defense, friendship with opposite sex, helping in house chores, personal cleanliness and respect for others both young and old etc...</p>

                	<p>There are different clubs as part of the extra curricular activities in the primary section which includes Red Cross, Girls guild, Boys Scout, Road safety club, Readers club, Mathematic Club etc. All these clubs and societies are coordinated by different leaders in the school. However, Primary 1 - 6 has their sport activities on Wednesdays while the club meetings are scheduled for Fridays.</p>

                	<p>Apart from the clubs mentioned above, we also have Media Empowerment and Drama club where we train our pupils how to concentrate on the good messages through media and shun bad messages that can have bad influence on their future based on the fact that "You are what you watch". We also train them to become professional actors and actresses. The primary pupils acted "The Lion and the Jewel" which is currently on a CD and at the last End-of-the-year party date; our pupils acted "The Trial of Brother Jero"; Two of the famous books of the Nobel Laureate Professor Wole Soyinka.</p>
				</div>

				
				</div>
			</section>
		
		<div class="colourfull-row"></div>
{% endblock %}