
{% extends 'landing_page/base.html' %}

{% load static %}
{% block content %}
<!-- Sub Page Banner
			============================================= -->
			<section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
				
				<div class="overlay"></div>
				
				<div class="container">
					<div class="slider-caption">
            		<br><br><br>
						<p style="color: #710193"><span style="color: #710193">Cedar International</span></p><br/>
            			<p> <span style="color: #710193">Cedar International College Secondary Section</span></p>
            		</div>
				</div>
				
			</section>


			<section>
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title" style="color: #710193 !important">CEDAR INTERNATION <span>COLLEGE</span></h2>
					
					<div class="media pull-right"><img src="{% static 'landing_page/img/college.jpg' %}" width="400" class="img-rounded" alt="" title=""></div>
					
					<p>Cedar International College is a private co-educational school and operates full day and boarding at the school permanent site, with a preparatory curriculum for higher education. The school started with a vision to provide quality education for the Nigerian Child. The vision then expanded not only to the provision of basic education, but to moral education and the development of the inner person.</p>

					<p>Located in Kubwa, Federal Capital Territory, Cedar International College draws students from all areas of Abuja metropolis. The college environment is equally ecstatic with beautiful sight to behold and apart from that the school is situated in an area that is far from distraction which endorsed the school as a suitable school with an atmosphere conducive for learning. The school is accredited by The Federal Ministry of Education, Nigeria.</p>

					<h2 class="light bordered main-title">Aims and <span>Objectives</span></h2>
					
					
					

					<ul class="list-unstyled medicom-feature-list">
                		<li><i class="fa fa-check medicom-check"></i>To provide centre of excellence for training and development of future leaders.</li>
                		<li><i class="fa fa-check medicom-check"></i>To inspire students desire for self improvement in a highly competitive society.</li>
                		<li><i class="fa fa-check medicom-check"></i>To equip students with information and communication technology. This enables them to interact with fellow international students</li>
                	</ul>

                	<p>The mission of the School is to promote and enhance quality education. Cedar International College stands committed to offer her students a safe environment, an excellent education, personal responsibility, an opportunity to build a strong body as well as a sound mind, the challenges of competition in a first class sports program, and a haven that places a premium on spiritual growth.</p>

                	<p>The School prides herself in the curriculum developed for impacting knowledge to the child. Each student is taken through the process of computer aided tutoring to give a practical touch and experience to belong to the rapidly growing world they are in.</p>
					
				
				</div>
			</section>

			<section>
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title">JUNIOR SECONDARY <span>SCHOOL (JSS)</span></h2>
					
					<p>This is the first three years of the college. The JSS class prepares the students for the Senior Secondary School. We offer all subjects approved by the Federal Ministry of Education, Nigeria for the JSS classes.</p>

					<p>The Junior Secondary School consists of JSS 1, JSS 2 and JSS 3. The JSS 3 students offer external examination such as National Examination Council & Education Resource Center approved by the Federal Government and over the years, the school has always been coming out with excellent results.</p>

					<p>The Core subjects generally offered by all students.</p>

					<aside class="col-md-2"></aside>

					<aside class="col-md-8">
					
					
					
						
						
						<!-- Categories Widget
						============================================= -->
						<div class="sidebar-widget clearfix">
							
							<h2 class="bordered light text-center">Subjects</h2>
							
							<ul class="tags">
								<li><a href="#.">English Language</a></li>
								<li><a href="#.">Computer Science</a></li>
								<li><a href="#.">Technical Drawing</a></li>
								<li><a href="#.">Mathematics</a></li>
								<li><a href="#.">Business Studies</a></li>
								<li><a href="#.">French</a></li>
								<li><a href="#.">Integrated Science</a></li>
								<li><a href="#.">Home Economics</a></li>
								<li><a href="#.">Agricultural Science</a></li>
								<li><a href="#.">Nigerian Language</a></li>
								<li><a href="#.">Fine Art</a></li>
								<li><a href="#.">Civic Education</a></li>
								<li><a href="#.">Christian Religious Studies</a></li>
								<li><a href="#.">Social Studies</a></li>

							</ul>
							
						</div>
						
						
						
								
							  </div>
							  
							</div>
							
						</div>
						
					</aside>
					
					

                	
                	
			</section>

			<section>
				<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">
    	
				
				<!-- Primary Health Care
				============================================= -->
				<div class="container">
					
					<h2 class="light bordered main-title">SENIOR SECONDARY <span>SCHOOL (SSS)</span></h2>
					
					<p>This is the last three years of the college which is the Secondary education. The students take the core subjects which will prepare them for the Senior Secondary Certificate Exam. The subjects approved by the Federal Ministry of Education, Nigeria are offered in our college. The classes available in the college for Senior Secondary School are SSS 1, SSS 2, SSS 3.</p>
					<div class="">
					<p><b>Class in Senior Secondary School:</b></p>
						<p><strong>SCIENCE CLASS:</strong> In this class, the students offer Science subjects.<br>
							<strong>COMMERCIAL CLASS:</strong> The students in this class offer commercial subjects.<br>
							<strong>ART CLASS:</strong> Students in this class offer Art subjects.<br>
						</p>
					</div>

					<p>The Core subjects generally offered by all students.</p>

					<aside class="col-md-2"></aside>

					<aside class="col-md-8">
					
					
					
						
						
						<!-- Categories Widget
						============================================= -->
						<div class="sidebar-widget clearfix">
							
							<h2 class="bordered light text-center">Subjects</h2>
							
							<ul class="tags">
								<li><a href="#.">English Language</a></li>
								<li><a href="#.">Technical Drawing</a></li>
								<li><a href="#.">Mathematics</a></li>
								<li><a href="#.">Geography</a></li>
								<li><a href="#.">Biological Science</a></li>
								<li><a href="#.">Agricultural Science</a></li>
								<li><a href="#.">Nigerian Language</a></li>

							</ul>
							
						</div>
						
						
						
								
							  </div>
							  
							</div>
							
						</div>
						
					</aside>
					
					

                	
                	
			</section>
		
		<div class="colourfull-row"></div>

{% endblock %}